/**
* 文档页面代码演示模块样式
*/

:host {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    line-height: 1.5;
    min-height: calc(1.5em + 1rem);
}
:host([open]) {
    overflow: hidden;
    resize: both;
}
.heading {
    display: flex;
    color: var(--ui-white, #fff);
    background: var(--ui-dark, #444);
    padding: .5rem 1rem;
}
.toggle {
    margin-left: auto;
}
.main {
    display: flex;
}
:host(:not([open])) .main,
:host(:not([open])) .code {
    display: none;
}
.operate {
    width: var(--width, auto);
}
.preview {
    flex: 1;
}
.preview::before,
.operate::before {
    line-height: 1.75;
    font-size: 87.5%;
    color: var(--ui-gray);
    display: block;
    background: #f3f5f7;
    padding: .125rem 1rem;
}
.operate::before {
    content: '操作';
}
.preview::before {
    content: '预览';
}

.preview-x,
.operate-x {
    padding: .5rem 1rem 1rem;
}

[hidden] + .dragbar {
    display: none;
}

.dragbar {
    border: 0;
    padding: 0;
    margin: 0 0 0 -1px;
    width: 3px;
    font-size: 0;
    background: none;
    position: relative;
    cursor: ew-resize;
    cursor: col-resize;
    touch-action: none;
}
.dragbar::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    border-left: 1px solid var(--ui-gray);
    border-right: 1px solid #fff;
    left: 1px;
}
.dragbar:active::before {
    border-left: 1px dashed var(--ui-blue);
}
.code {
    margin-top: auto;
}
.main .code {
    box-shadow: 1px 0 var(--ui-light-border);
    flex: 1;
    order: 0;
}
.main .code:last-child {
    box-shadow: -1px 0 var(--ui-light-border);
}
.code-btn {
    color: var(--ui-gray);
    background: #f3f5f7;
    padding: .125rem 1rem;
    user-select: none;
    font-size: 87.5%;
    line-height: 1.75;
}
.code-slot {
    color: #999;
    text-shadow: 1px 1px #fff;
}
.code-x {
    display: flex;
    padding: .5rem 1rem;
    font-size: 87.5%;
    gap: .75rem;
}

.code-x > div {
    display: contents;
}

@media (max-width: 640px) {
    .main,
    .code-x {
        flex-direction: column;
    }
    .dragbar {
        display: none;
    }
}
