/**
 *
 * @Datalist.css
 * @author zhangxinxu
 * @create 16-03-29
 *
**/

datalist {
    display: none;
}

.ui-datalist {
    display: none;
    position: absolute;
    animation: fadeIn .2s;
    z-index: 19;
}

.ui-datalist-datalist {
    max-height: 304px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #d0d0d5;
    border: 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    position: relative;
    overflow: auto;
    overscroll-behavior: none;
    -ms-scroll-chaining: none;
}

.ui-datalist-datalist::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.ui-datalist-datalist::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 8px;
}

.ui-datalist-datalist::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.ui-datalist-datalist::-webkit-scrollbar-track-piece {
    background-color: #ddd;
}

.ui-datalist-option {
    line-height: 20px;
    padding: 9px 12px;
    background-color: #fff;
    transition: background-color .15s;
    overflow: hidden;
    cursor: pointer;
}

.ui-datalist:empty,
.ui-datalist-option:empty {
    display: none;
}

.ui-datalist-option:not(.disabled):hover {
    background-color: #f0f7ff;
}

.ui-datalist-datalist > .selected {
    background-color: #e0f0ff;
}
.ui-datalist-datalist > .disabled {
    opacity: .4;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-datalist-value {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    overflow: hidden;
}

.ui-datalist-label {
    float: right;
    color: #a2a9b6;
    font-size: 12px;
}

.ui-datalist-label + .ui-datalist-value {
    margin-right: 60px;
}
