@charset "UTF-8";
/**
 *
 * @Pagination.css
 * @author xinxuzhang
 * @create 15-06-26 ↓7.4%
 * @edit   19-09-19 zhangxinxu
 *
**/
ui-pagination {
    display: block;
    height: 30px;
}
.ui-page {
    display: inline-block;
    min-width: 18px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px;
    height: 28px;
    line-height: 28px;
    border: 1px solid transparent;
    text-align: center;
    color: #a2a9b6;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: border-color .15s, background-color .15s;
    vertical-align: top;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

span.ui-page {
    cursor: default;
}

a.ui-page:hover {
    border-color: #b6bbc6;
    color: #a2a9b6;
    text-decoration: none;
}

.ui-page > svg {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.ui-page-prev,
.ui-page-next {
    text-align: center;
    fill: currentColor;
    overflow: hidden;
}

/* 当前不可点的按钮颜色 */
span.ui-page-prev,
span.ui-page-next {
    color: #ccd0d7;
}

.ui-page-next svg {
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ui-page-prev {
    margin-left: 0;
}

.ui-page-next {
    margin-right: 0;
}

.ui-page-ellipsis {
    display: inline-block;
}

.ui-page-current {
    color: #fff;
    background-color: #2a80eb;
}

.ui-page-text {
    color: #4c5161;
}

.ui-page.loading > svg {
    visibility: hidden;
}

/* IE9+ */
.ui-page.loading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M512 1024q-104 0-199-40-92-39-163-110T40 711Q0 616 0 512q0-15 10.5-25.5T36 476t25.5 10.5T72 512q0 90 35 171 33 79 94 140t140 95q81 34 171 34t171-35q79-33 140-94t95-140q34-81 34-171t-35-171q-33-79-94-140t-140-95q-81-34-171-34-15 0-25.5-10.5T476 36t10.5-25.5T512 0q104 0 199 40 92 39 163 110t110 163q40 95 40 199t-40 199q-39 92-110 163T711 984q-95 40-199 40z' fill='%232a80eb'/%3E%3C/svg%3E") no-repeat center;
    background-size: 20px 20px;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

