/**
 *
 * @Table.css
 * @author xinxuzhang
 * @create 15-06-24
 *
**/
.ui-table {
  width: 100%;
  line-height: 21px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse\9;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.2);
  border: 1px solid #d0d0d5;
  border: 0 rgba(1, 2, 3, 0); }

.ui-table thead td,
.ui-table th {
  line-height: 50px;
  background-color: #f7f9fa;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  margin: 0; }

.ui-table tbody td {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
  border-bottom: 1px solid #ededed; }

.ui-table td,
.ui-table th {
  padding: 0 20px; }

.ui-table tr {
  cursor: default; }

.ui-table tr:hover td {
  background-color: #f0f7ff; }

.ui-table tr.selected td {
  background-color: #e0f0ff; }

.ui-table tr:last-child td {
  padding-bottom: 15px;
  border-bottom: 0; }

.ui-table ~ .ui-loading {
  height: 300px; }
