@charset "utf-8";

@import 'variable';

/**
 * 
 * @color.css
 * @author xinxuzhang 
 * @create 16-04-18
**/

/*主色*/
body, .dark { color: $dark; }   
/*蓝色*/
a, .blue, a.dark:hover { color: $blue; }
/*hover蓝色*/
a:hover { color: $darkblue; }
/*灰色*/
.gray { color: $gray; } 
/*白色*/ 
.white { color: $white; } 
/* 绿色 */    
.green { color: $green; }
/* 橘色 */
.orange { color: $orange; }
/* 红色 */
.red { color: $red; }
/* 浅色 */
.light { color: $light; }

/* 背景色 仅作为色块背景时候使用*/
/*.bg-dark { background-color: $dark; }
.bg-blue { background-color: $blue; }
.bg-green { background-color: $green; }
.bg-orange { background-color: $orange; }
.bg-red { background-color: $red; }
.bg-light { background-color: $light; }
.bg-gray { background-color: $gray; }
.bg-white { background-color: $white; }*/