@keyframes tinydown {
    0%, 5% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fallDown {
    form {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes raiseup {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
