@charset "UTF-8";
/**
 *
 * @color.css
 * @author xinxuzhang
 * @create 16-04-18
**/
/*主色*/
body, .dark {
    color: #4c5161;
}

/*蓝色*/
a, .blue, a.dark[href]:hover {
    color: #2a80eb;
}

/*hover蓝色*/
a:hover {
    color: #0057c3;
}

/*灰色*/
.gray {
    color: #a2a9b6;
}

/*白色*/
.white {
    color: #fff;
}

/* 绿色 */
.green {
    color: #1cad70;
}

/* 橘色 */
.orange {
    color: #f59b00;
}

/* 红色 */
.red {
    color: #eb4646;
}

/* 浅色 */
.light {
    color: #f7f9fa;
}

/*.disabled-gray {
    color: #ccd0d7;
}*/
