@charset "UTF-8";
/**
 * 
 * @color.css
 * @author xinxuzhang 
 * @create 16-04-18
**/
/*主色*/
body, .dark {
  color: #4c5161; }

/*蓝色*/
a, .blue, a.dark:hover {
  color: #2486ff; }

/*hover蓝色*/
a:hover {
  color: #0057c3; }

/*灰色*/
.gray {
  color: #a2a9b6; }

/*白色*/
.white {
  color: #fff; }

/* 绿色 */
.green {
  color: #01cf97; }

/* 橘色 */
.orange {
  color: #f28c48; }

/* 红色 */
.red {
  color: #f4615c; }

/* 浅色 */
.light {
  color: #f7f9fa; }
