body {
  font: status-bar;
  font-size: 14px;
  line-height: 1.42858; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  font-weight: 400; }

body, form, ul, ol, dl, dd, p {
  margin: 0; }

ul, ol {
  list-style-type: none;
  padding: 0; }

img {
  border: 0 none;
  vertical-align: bottom; }

button, input, select, textarea {
  font-size: 1em;
  font-family: inherit; }

a, a:hover {
  text-decoration: none; }
