@charset "utf-8";
@import '../variable';
/**
 *
 * @Table.css
 * @author zhangxinxu
 * @edit 17-10-18 从原Table.css中分离出来
 *
**/

/* table shadow */
.table-x {
	box-shadow: 0 1px 3px rgba(0, 0, 1, .2);
	background-color: $white;
	border: 1px solid $borderNormal;
	border: 0 rgba(1, 1, 1, 0);
}
.table-x table {
    border: 0;
    box-shadow: none;
}
/* table without data */
.table-null-x,
.table-error-x {
	height: 300px;
	text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.table-error-x {
	line-height: 300px;
}
.table-null {
	display: inline-block;
	*display: inline; *zoom: 1;
	vertical-align: middle;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.table-null-x:after {
    content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

/* 淡出出现 */
.ui-loading-animation tbody,
.ui-loading-animation .table-null-x,
.ui-loading-animation .table-error-x {
    -webkit-animation: fadeIn .3s .1s both;
    animation: fadeIn .3s .1s both;
}

/* 列表分页 */
.table-page-x {
  height: 32px;
  padding: 10px 10px 8px 22px;
  margin-top: -1px;
  border-top: 1px solid #ededed;
  background-color: $light;
  position: relative;
}
.table-page-data {
	float: left;
	line-height: 20px;
	padding-top: 5px;
	font-size: 14px;
}
.table-num-length {
	margin: 0 3px;
}
.table-page-every {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
}
.table-page-every:hover {
	color: $blue;
}
.table-page {
	float: right;
	padding-top: 2px;
}
.table-checkbox td:first-child,
.table-checkbox th:first-child {
	width: 20px;
	padding-right: 0;
	padding-left: 18px;
	text-align:  right;
}
.table-checkbox td:first-child + td,
.table-checkbox th:first-child + th {
	padding-left: 13px;
}

/* 表格头部操作，搜索，或者大标题 */
.table-header {
    padding: 12px 20px;
}
.table-title {
    line-height: 56px;
    font-size: 24px;
    margin: 0;
}
.table-operate {
    line-height: 20px;
    padding: 18px 0;
    font-size: 16px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    *zoom: 1;
}
.table-header > .table-operate {
    display: none;
}
.checked > .table-operate {
    display: block;
}
.checked > .table-title {
    display: none;
}
.table-top-right {
    position: absolute;
    height: 40px;
    bottom: 13px;
    right: 0;
}
.table-search {
    display: inline-block;
    *display: inline; *zoom: 1;
    width: 220px;
    margin-right: 10px;
    vertical-align: top;
}